html {
  min-width: 600px;
  height: 100%;
  background: #bcbdc1;
}

.container {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  padding: 1.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-logo {
  max-width: 200px;
}

.main {
  padding: 20px;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Task-and-Description {
  display: -ms-grid;
  display: grid;
}

.Task-and-Description textarea {
  margin-top: 1rem;
  display: None;
}

input[type="text"] {
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #595959;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  font-size: 1.5rem;
  background-color: #ffffff;
  outline: 0;
  border: none;
  color: #595959;
}

button:hover {
  color: #2d8d79;
}

.todoList {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 25px;
  height: 100%;
  width: 32em;
}

ul {
  padding-left: 0px;
  list-style: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid lightgrey;
  padding: 15px 0px;
  font-size: 1rem;
  font-weight: bold;
  color: #595959;
}

i {
  pointer-events: none;
}

.todo-item {
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.clearAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

.clearAll:hover {
  color: #2d8d79;
  font-weight: bold;
}

.todo-list-item {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.todo-list-item-fall {
  -webkit-transform: translateY(12rem) rotateZ(10deg);
          transform: translateY(12rem) rotateZ(10deg);
  opacity: 0;
}

.todo-stats {
  font-weight: bold;
  position: relative;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-stats > div {
  position: relative;
  z-index: 1;
}

.showTask {
  display: -ms-grid;
  display: grid;
}

#description {
  display: none;
  width: 24em;
  overflow-wrap: break-word;
  font-weight: lighter;
}
/*# sourceMappingURL=Task.css.map */